<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="SubscriptionId" value="{your subscriptionId}"/>
      <add key="TenantId" value="{your tenant id}"/>
      <add key="ClientId" value="{application service principal Id}"/>
      <add key="ClientSecret" value="{application service principal secret}"/>
    </appSettings>
</configuration>